body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeeef;
  color: #444;
}

a {
  text-decoration: none;
  color: #45618f;
  transition: color 0.3s;
}

a:hover {
  color: #1d1d1d;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.layout {
  display: grid;
  grid-template-columns: 30px minmax(auto, 300px) 1fr;
  grid-column-gap: 10px;
  height: 100vh;
  padding-top: 30px;
}

.layout__sidebar {
  grid-column: 2;
  position: relative;
}

.layout__content {
  grid-column: 3;
  padding-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.menu {
  position: sticky;
  top: 30px;
}

.menu__item a {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.menu__item a.active {
  background-color: #45618f;
  color: #fff;
}

.menu__item a.disabled {
  background-color: #fff;
  color: #b5b3b3;
  pointer-events: none;
}

.form__group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 10px;

}

input {
  padding: 5px;
  width: 100%;
  font-size: 16px;
}

select {
  font-size: 16px;
  width: 102%;
  padding: 5px;
  border-radius: 0;
}

.button {
  font-size: 16px;
  border: none;
  background-color: transparent;
  border: 2px solid #45618f;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45618f;
  color: #fff;
}

.screen {
  padding: 40px;
}

.screen {
  max-width: 650px;
  background-color: #fff;
}

.screen + .screen {
  margin-top: 50px;
}

.screen__title {
  margin-bottom: 30px;
  margin-top: 0;
}

.screen__container {
  text-align: center;
}

.banner {
  position: relative;
  border: 1px solid;
  display: inline-block;
  text-align: left;
}

.banner img {
  display: block;
  width: 600px;
  height: 240px;
  object-fit: cover;
}

@media (orientation: portrait) {
  .banner img {
    width: 240px;
    height: 600px;
  }
}

.banner__add {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 20px;
}

.banner__button {
  border: none;
  background-color: #000;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.banner__button:hover {
  color: #fff;
}

.banner__title p {
  display: inline;
  box-decoration-break: clone;
  line-height: 2em;
  padding: .3em 1.5em .3em .5em;    
  font-family: sans-serif;
  background-image:
    linear-gradient(
      115deg,
      rgba(0,0,0,.1) calc(100% - 1em),
      transparent calc(100% - 1em)
    );
}